body {
    font-family: "Open Sans", "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size:1rem;
    margin:0rem;
    padding:0rem;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

.sb-body {
  min-width:400px;
  max-width:930px;
}

.content {
    min-width: 400px;
    max-width: 800px;
    padding-top: 3rem;
    padding-left: 1rem;
}

.sb-top-head {
    padding:5px 0px 5px 20px;
}

.sb-top {
    position: fixed;
    background-color: black;
    top: 0;
    width:100%
}

.sb-top-grid {
    background-color: black;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-gap: 10px;
    position: fixed;
    top: 0;
    width: 100%
}

.sb-top-text {
    color:white;
    background-color: black;
    font-size: 1.4rem;
    font-weight:bold;
}

.sb-top-title {
    color:#FFC184;
    padding-top: 5px;
    font-size: 1.5rem;
    font-weight:bold;
    text-transform: uppercase;
}

.banner {
    background: url(../img/muenchen.jpeg) no-repeat left top;
    max-width:930px;
    min-width:400px;
    margin-top:80px;
    height: 300px;
    display:flex;
    justify-content:space-between;
}

@media (max-width:800px) {
    .sb-body {
        width: 800px;
        max-width: calc(100% - 0px);
    }
    .banner {
        background: url(../img/muenchen.jpeg) no-repeat left top;
        width: 800px;
        max-width: calc(100% - 0px);
        height: 300px;
        display:flex;
        justify-content:space-between;
    }
}

.copy-right {
    opacity:0.5;
    text-align:right;
    padding-right:20px;
}

.copy-right-author {
    color:#FFFFFF;
    font-size:0.8rem;
    text-style:italic;
}

.sub-title {
    padding-top:15px;
    padding-left:25px;
    opacity:0.6;
    color:#FFFFFF;
    font-weight: 600;
    font-size:1rem;
    text-style:italic;
}

.month-box {
    position:inherit;right:0px;
    padding: 10px 10px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}

.sb-type-links{
      grid-column-start: 1;
      grid-column-end: 4;
    padding: 10px 20px 5px 20px;
    text-align:center;
    background-color:#CCCCCC;
    border-bottom:1px solid #000000;
}

.date {
    text-align:center;
    font-weight:100;
    font-size:1rem;
    margin-top:2rem;
    margin-bottom:0.5rem;
    border-bottom:1px solid #EEEEEE;
}

.type-link {
    font-weight:200;
    font-size:1rem;
}

.sb-type-title {
    margin-left:0rem;
    margin-top:1rem;
    padding: 3px 5px 3px 10px;
    border-bottom:1px solid #CCCCCC;
    align-items: center;
    display:flex;
    justify-content:space-between;
}

h3 {
    font-size: 1.0rem;
    font-weight:500;
    color: #999999;
    display: inline;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.page-links{
    padding: 5px 20px 5px 20px;
    text-align:center;
    grid-gap: 0em;
    border-bottom:1px solid #EEEEEE;
    grid-template-columns: minmax(400px, 930px);
}

a:hover {
    font-weight: 400;
    color: #666666;
}

iframe{
    width:200px;
    height:230px;
    margin: 2px 2px 15px 20px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.4;
}

.sb-events {
  display: grid;
  grid-gap: 0em ;
  margin-top: 12px;
  grid-template-columns: 100px minmax(400px, 500px) 300px;
}

@media (max-width:800px) {
.sb-events {
  width: 100%;
  display: grid;
  grid-gap: 0em ;
  margin-top: 12px;
  grid-template-columns: 20% 50% 30%;
}
}

.startDate {
    text-align:right;
    font-size:0.9rem;
    font-weight:200;
    margin-right:20px;
}

.location {
    font-size: 0.8rem;
    padding-top: 5px;
    padding-left:10px;
}

.artist-links {
    white-space: nowrap;
    margin-left:1rem;
}

.sb-content {
    font-size:1.0rem;
    padding: 30px 30px 30px 50px;
    width:65%;
}

.sb-photo {
    padding: 30px 0px 0px 50px;
    font-size:0.9rem;
    text-style: italic;
}

.sb-photo-text {
    color:#AAAAAA;
    text-align:right;
    width:80%;
}

.sb-footer {
    margin-top:80px;
    text-align:center;
    font-weight: 200;
    font-size:0.9rem;
    border-top:1px solid #CCCCCC;
}

.sb-footer-social {
    text-align:center;
    font-weight: 200;
    font-size:0.9rem;
    border-top:1px solid #EEEEEE;
}

.sb-generator {
    margin-top:50px;
    text-align:right;
    font-size:1rem;
    min-width:600px;
    max-width:800px;
    color:#c1d3f0
}

.sb-generator-link {
    color:#EEEEEE;
}

.sb-tool-tip {
    color:#EEEEEE;
}

.event-label {
    width:200px;
    padding-top:12px;
}

.event-send{
    margin:12px;
    padding:5px;
    font-weight: bold;
    color: #25a1d7;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #333333;
}

.wrapper {
  display: grid;
  grid-gap: 3px ;
  grid-template-columns: 100px minmax(500px, 900px) ;
}


h1 {
    font-size:1.5rem;
    color:white;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

h2 {
    font-size:1.0rem;
    font-style: italic;
    font-weight:200;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

h4 {
    font-size:1.0rem;
    font-weight:100;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    border-bottom:1px solid #EEEEEE;
}

h5 {
    font-size:1.1rem;
}
h6 {
    font-size:1rem;
}

.sb-button{
    width: 2rem;
    height: 1.5rem;
    font-weight: 400;
    font-size:0.9rem;
    color:#808080;
    padding:3px 6px 3px 6px;
    background-color: #EEEEEE;
    border:1px solid #AAAAAA;
    border-radius: 2px 2px 2px 2px;
}

.sb-cookie-box{
    background-color: #CCCCCC;
    inset: auto 15px 15px auto;
    width: 300px;
    padding: 10px 15px 10px 15px;
    height: auto;
    max-height: 597px;
    overflow: auto;
    position: fixed;
    box-sizing: border-box;
    display:none;
}

.cookie-content{
    color: #000000;
    font-family: inherit;
}
