.sb-top {
    position: fixed;
    background-color: black;
    top: 0;
    width:100%;
    font-family: Lato, sans-serif
}

.sb-top-image {
    width: 70px;
    padding: 5px;
    clip-path: circle(25px at center);
}


.sb-top-title-box {
    font-size: 1.2rem;
    padding-top: 5px;
    padding-left: 55px;
}

.sb-top-title {
    font-family: Lato, sans-serif;
    color:white;
}

.sb-top-title-page {
    text-transform: uppercase;
    font-weight:600;
    color:#b73f2f;
}

.sb-top-container {
    background-color: black;
    display: grid;
    grid-template-columns: 70px auto;
    grid-gap: 0px;
    top: 0;
    width: 100%
}

.sb-top-grid {
    background-color: black;
    display: grid;
    grid-template-columns: auto 2.2rem;
    grid-gap: 10px;
    top: 0;
}

.sb-top-head {
  padding:5px 0px 5px 5px;
  font-size: 0.9rem;
  font-weight:200;
  text-align:center;
  color: #b73f2f;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

.sb-top-menu{

}

.sb-top-menu-popup {
    margin: 5px 5px 0px 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: white;
    text-align:center;
    width: 1.7rem;
    color: black;
    font-size:1.1rem;
    border-radius: 5px;
}


.sb-top-search-box {
    padding:0.2rem 0 0 0;
    width:10rem;
}

.sb-top-search {
    width:10rem;
    font-size:1.2rem;
}

.sb-top-text {
    color:white;
    background-color: black;
    font-size: 1.5rem;
    font-weight:bold;
}

.sb-day-link-box{
    padding: 3px 55px 8px 0px;
    font-size: 13px;
    line-height: 1.2rem;
    color: white;
    text-align:right;
}

.sb-day-link{
    color: white;
    display:inline-block;
       padding: 0 1px;
}

.sb-day-link-box a:hover, .sb-day-link-box a:focus {
  background-color: #41a62a;
  color:white;
}


.sb-day-link-weekend{
display:inline-block;
    font-weight:600;
    color: #BBBBBB;
    padding: 0 2px;
}

.sb-day-actual{
   color:white;
   background-color: #41a62a;
   font-weight:bold;
   display:inline-block;
   padding: 0 2px;
}

.sb-type-box {
    display:box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 1rem;
    text-align:right;
    padding: 10px 10px 0px 0px;
}

.sb-type-h3 {
    margin-block-start: 0.0rem;
    margin-block-end: 0rem;
    margin-top: 10px;
}

.sb-content {
    display: grid;
    grid-template-columns: auto minmax(300px, 500px) auto;
    grid-gap: 10px;
}

.sb-content-left {
}

.sb-content-main {
}

.sb-content-h1 {
    margin-block-end: 0rem;
    font-weight: 200;
    margin-top: 15px;
    font-size: 33x;
}

.sb-content-subtitle {
    font-size: 0.8rem;
}

.sb-content-intro {
    line-height:1.7rem;
    font-weight: 600;
    min-width: 400px;
    max-width: 700px;
    padding-top: 1rem;
}

.sb-content-text {
    line-height:1.7rem;
    min-width: 400px;
    max-width: 700px;
    padding-top: 1rem;
}

.sb-content-img {
    line-height:1.7rem;
    min-width: 400px;
    max-width: 700px;
    padding-top: 2rem;
}

.sb-content-ad {
    margin: 5px 10px 50px 20px;
}

.sb-container {
    width:150px;
    height:230px;
    margin-left:10px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

.sb-container-title {
    font-weight: 300;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size:0.9rem;
}

.sb-container-img {
    border-radius: 5px;
}

.sb-content-select {
    margin-top: 15px;
    margin-bottom: 10px;
}

.sb-content-select-self {
    border: 1px solid #DDDDDD;
    padding: 3px 5px 3px 5px;
}

.sb-event {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 100px  35px auto;
  margin-top: 10px;
}

.sb-event-target {
    border-top: black solid 1px;
    padding: 10px 10px 18px 10px;
    margin: 6px 0px 18px 0px;
}

.sb-event-startdate {
     font-weight:400;
     white-space: nowrap;
 }

.sb-event-specpage-box {
    white-space: nowrap;
    padding: 0px 0px 3px 0px;
}

.sb-event-location {
  margin-block-start: 0px;
  margin-block-end: 0rem;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 600;
}

 .sb-event-specpage-link {
     white-space: nowrap;
     padding: 3px 6px 3px 6px;
     font-size: 0.9rem;
     font-weight: 600;
     color:#41a62a;
     font-family: Lato, sans-serif;
 }
 .sb-event-specpage-box a:hover {
    background-color: #41a62a;
    color:white;
 }

.sb-event-h4 {
    margin-block-start: 5px;
    margin-block-end: 0rem;
    font-weight:400;
    font-size: 1rem;
    color: black;
}

.sb-event-menu {
    margin: 8px;
}
.sb-event-menu-link {
    color:whit
}

.sb-anchor-type {
    white-space: nowrap;
     padding: 6px 15px 6px 15px;
     font-size: 14px;
     font-weight: 600;
     color: black;
}

.sb-type-box a:hover {
     background-color: #41a62a;
     color:white;
}

a {
    text-decoration: none;
    color: #333333;
    font-weight: 200;
}

.sb-type-collapse {
    font-size:14px;
    color: #CCCCCC;
}

.sb-info{
    display: grid;
    grid-template-columns: auto 70px;
    margin-top:70px;
    grid-gap: 0px;
    font-size:0.9rem;
    text-align:center;
    border-bottom: 1px solid black;
}

.sb-center {
    text-align:center;
}

.sb-info-recommend{
    display: inline-block;
    padding-top:2px;
    font-size:1.1rem;
    color:#660000;
}

.sb-info-recommend i:hover{
    background-color: #660000;
    color: white;
}

.sb-info-day {
    padding:5px 10px 5px 10px;
}

.sb-info-cite {
    padding:5px 10px 5px 10px;
}

.sb-info-teaser{
    font-size: 0.8rem;
    padding-right:30px;
    font-style: italic;
    text-align: right;
}

.sb-photo {
    padding: 10px 0px 0px 0px;
    font-size:0.9rem;
    text-style: italic;
}

.sb-photo-text {
    color:#AAAAAA;
    text-align:right;
    font-style: italic;
}

.sb-footer-box{
    margin-top:25px;
}

.sb-footer {
    padding:10px 0px 10px 0px;
    text-align: center;
    font-family: Lato, sans-serif;
}

.sb-footer-link {
    color:#AAAAAA;
}

.sb-generator {
    margin-top:50px;
    text-align:right;
    color:#c1d3f0
}

.sb-generator-link {
    color:#EEEEEE;
}

.sb-tool-tip {
    border: 1px solid #660000;
    color:#660000;
    display: block;
    position: absolute;
    padding:5px 9px 5px 9px;
    background-color: white;
    border-radius: 1px;
    top:100px;
    left:100px;
}

.sb-tooltip-link div:hover {
    background-color: #660000;
    color: white;
}

.sb-tooltip-link {
    color:#660000;
}

.sb-tooltip-box {
    padding:2px 5px 2px 5px;
    border: 1px solid white;
}

.sb-cookie-box{
    inset: auto 15px 15px auto;
    width: 400;
    height: 65%;
    overflow: auto;
    position: fixed;
    box-sizing: border-box;
    display:none;
    opacity: 0.9;
}

.sb-cookie-content{
    background-color: white;
    color: #000000;
    padding: 18px;
    margin: 0px 0px 0px 20px;
    border-radius: 1px;
    border: 1px solid #660000;
    line-height:1.7rem;

}

.sb-cookie-head{
    font-size: 1.4rem;
    font-weight: 400;
    color: #333333;
}

.sb-cookie-button{
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #666666;
    border: 1px solid #666666;
    border-radius: 1px;
    background-color: white;
}

.sb-menue-box{
    inset: auto 15px 15px auto;
    min-width: 300;
    max-width: 400;
    height: 65%;
    overflow: auto;
    position: fixed;
    box-sizing: border-box;
    display:none;
}

.sb-menue-content{
    background-color: #FFFFEA;
    color: #000000;
    padding: 18px;
    margin: 0px 0px 0px 20px;
    border-radius: 10px;
    border: 1px solid black;
    line-height:1.7rem;
}

