body {
    font-family: "Open Sans", "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size:1rem;
    margin:0rem;
    padding:0rem;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

.sb-top {
    position: fixed;
    background-color: black;
    top: 0;
    width:100%
}

.sb-top-image {
    width: 70px;
    padding: 5px;
    clip-path: circle(25px at center);
}


.sb-top-title-box {
    color:#FFC184;
    padding-top: 5px;
    font-size: 1.2rem;
    font-weight:bold;
    text-transform: uppercase;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.sb-top-title {
    color:#FFC184;
    padding-top: 5px;
    font-size: 1.2rem;
    font-weight:bold;
    text-align:center;
    text-transform: uppercase;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.sb-top-container {
    background-color: black;
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 0px;
    top: 0;
    width: 100%
}

.sb-top-grid {
    background-color: black;
    display: grid;
    grid-template-columns: auto 13rem;
    grid-gap: 10px;
    top: 0;
}

.sb-top-head {
  padding:5px 0px 5px 5px;
  font-size: 0.9rem;
  font-weight:100;
  color:white;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

.sb-top-function {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    width:13rem;
    top: 0;
}


.sb-top-search-box {
    padding:0.2rem 0 0 0;
    width:10rem;
}

.sb-top-search {
    width:10rem;
    font-size:1.2rem;
}

.sb-top-button-box{
    padding:0.1rem 1.2rem 0 0;
    font-size:2rem;
    line-height:2rem;
}

.sb-top-text {
    color:white;
    background-color: black;
    font-size: 1.5rem;
    font-weight:bold;
}

.sb-month-grid {
    background-color: black;
    display: grid;
    grid-template-columns: 7rem 10rem auto;
    grid-gap: 10px;
    width: 100%
}


.sb-month-box{
    color:white;
    font-size:1.2rem;
    font-weight:100;
}

.sb-month-actual{
    color:#FFC184;
    font-weight: bold;
}

.sb-day-link-box{
    padding: 25px 10px 5px 10px;
    text-align:center;
    font-size: 1rem;
    line-height: 1.1rem;
}

.sb-day-link{
    font-weight:100;
    color: white;
}
.sb-day-link-sunday{
    font-weight:100;
    color: #BBBBBB;
}

.sb-top-calender{
     text-align:right;
     padding:10px 5px 0px 0px;
}

.sb-day-actual{
   color:#FFC184;
   font-size:1.0rem;
   font-weight:bold;
}

.sb-type-link-box{
    padding: 5px 10px 5px 10px;
    text-align:center;
    background-color:#9999CC;
    border-bottom:1px solid #CCCCFF;
    font-size:1rem;
}

.sb-type-link {
    font-weight:300;
}

.sb-type {
    font-weight:600;
    color:#9999CC;
}

.sb-sub-title {
    padding-top:15px;
    padding-left:25px;
    opacity:0.6;
    color:#FFFFFF;
    font-weight: 600;
    font-size:1rem;
    text-style:italic;
}

.sb-body {
    display: grid;
    grid-template-columns: auto minmax(300px, 750px) auto;
    grid-gap: 10px;
}

.sb-content {
    line-height:1.7rem;
    min-width: 400px;
    max-width: 800px;
    padding-top: 3rem;
    padding-left: 1rem;
}

.sb-type-pages-box{
    padding: 5px 20px 5px 20px;
    grid-gap: 0em;
    border-bottom:1px solid #EEEEEE;
}

.sb-type-page-link{
    font-weight:100;
}

.sb-type-title {
    margin-left:0rem;
    margin-top:1rem;
    font-weight:600;
    color:#9999CC;
    font-size:1.1rem;
    padding: 3px 5px 3px 10px;
    border-bottom:1px solid #9999CC;
}

a:hover {
    font-weight: 400;
    color: #666666;
}

a {
    text-decoration: none;
    color: #333333;
    font-weight: 200;
}

.sb-events {
  display: grid;
  grid-gap: 0em;
  grid-template-columns: 100px auto;
  margin-top: 12px;
}

.sb-event-start-date {
     text-align:right;
     font-size:0.9rem;
     font-weight:200;
     margin-right:0px;
     margin-top:10px;
 }

 .sb-event-details {
    display: grid;
    grid-gap: 0em;
    grid-template-columns: auto 80px;
    margin-top:4px;
    margin-left:20px;
 }

.sb-location {
    font-size: 0.8rem;
}

.sb-event-h4 {
    margin-block-start: 0.4rem;
    margin-block-end: 0rem;
}

.sb-event-artist-title {
    font-size:1.0rem;
    font-weight:100;
}

.sb-event-link {
    width: 1.3rem;
    text-align: center;
    color: white;
    border:1px solid #BB88BB;
    border-radius: 5px;
    white-space: nowrap;
    padding:2px;
    font-size:1.1rem;
    background-color:#CC99CC;
}


.sb-event-youtube {
    width: 1.3rem;
    text-align: center;
    color: white;
    border:1px solid #BB88BB;
    border-radius: 5px;
    white-space: nowrap;
    padding:2px;
    font-size:1.1rem;
    background-color:#CC99CC;
}


.sb-event-location {
    width: 1.3rem;
    text-align: center;
    color: white;
    border:1px solid #BB88BB;
    border-radius: 5px;
    white-space: nowrap;
    padding:2px 5px 2px 5px;
    font-size:1.1rem;
    background-color:#CC99CC;
}

.sb-event-link-external {
    width: 1.3rem;
    text-align: center;
    color: white;
    border:1px solid #BB88BB;
     border-radius: 5px;
     white-space: nowrap;
     padding:2px;
     font-size:1.1rem;
     background-color:#CC99CC;
}

.sb-event-ticket {
    width: 1.3rem;
    text-align: center;
    color: white;
    border:1px solid #BB88BB;
    border-radius: 5px;
    white-space: nowrap;
    padding:2px;
    font-size:1.2rem;
    background-color:#CC99CC;
}

.sb-event-location-list {
    white-space: nowrap;
    padding:2px;
    font-size:1.1rem;
    color:#9999CC;
}

.sb-left-nav {
    padding-top:20px;
    padding-left:20px;
    padding-right:10px;
}

.sb-button-type{
    padding:4px;
    font-size:0.8rem;
    font-weight:600;
    background-color:#996699;
    border-color:#CC99CC;
    border-size: 1px;
    color:#FFFFFF;
    border-radius: 5px 5px 5px 5px;
}

.sb-nav-select{
    color: #EEEEEE;
   background-color:#996699;
   border-color:#CC99CC;
   border-size: 1px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 1.1rem;
    border-radius: 5px 5px 5px 5px;
}

.sb-content {
    font-size:1.0rem;
    padding: 30px 30px 30px 50px;
    width:65%;
}

.sb-photo {
    padding: 10px 0px 0px 0px;
    font-size:0.9rem;
    text-style: italic;
}

.sb-photo-text {
    color:#AAAAAA;
    text-align:right;
    font-style: italic;
}

.sb-footer {
    margin-top:80px;
    text-align:center;
    font-weight: 200;
    font-size:0.9rem;
    border-top:1px solid #CCCCCC;
}

.sb-footer-social {
    text-align:center;
    font-weight: 200;
    font-size:0.9rem;
    border-top:1px solid #EEEEEE;
}

.sb-generator {
    margin-top:50px;
    text-align:right;
    font-size:1rem;
    min-width:600px;
    max-width:800px;
    color:#c1d3f0
}

.sb-generator-link {
    color:#EEEEEE;
}

.sb-tool-tip {
    color:#EEEEEE;
}

.event-label {
    width:200px;
    padding-top:12px;
}

.event-send{
    margin:12px;
    padding:5px;
    font-weight: bold;
    color: #25a1d7;
}

.wrapper {
  display: grid;
  grid-gap: 3px ;
  grid-template-columns: 100px minmax(500px, 900px) ;
}

.sb-button{
    width: 2rem;
    height: 1.5rem;
    font-weight: 400;
    font-size:0.9rem;
    color: #FFFFFF;
    padding:3px 6px 3px 6px;
    background-color: #9999CC;
    border:1px solid #CCCCFF;
    border-radius: 2px 2px 2px 2px;
}

.sb-cookie-box{
    background-color: #CCCCCC;
    inset: auto 15px 15px auto;
    width: 300px;
    padding: 10px 15px 10px 15px;
    height: auto;
    max-height: 597px;
    overflow: auto;
    position: fixed;
    box-sizing: border-box;
    display:none;
}

.cookie-content{
    color: #000000;
    font-family: inherit;
}
