.sb-top {
    position: fixed;
    background-color: black;
    top: 0;
    width:100%
}

.sb-top-image {
    width: 70px;
    padding: 5px;
    clip-path: circle(25px at center);
}


.sb-top-title-box {
    font-size: 1.2rem;
    padding-top: 5px;
    padding-left: 55px;
}

.sb-top-title {
    color:white;
}

.sb-top-title-page {
    text-transform: uppercase;
    font-weight:600;
    color:#b73f2f;
}

.sb-top-container {
    background-color: black;
    display: grid;
    grid-template-columns: 70px auto;
    grid-gap: 0px;
    top: 0;
    width: 100%
}

.sb-top-grid {
    background-color: black;
    display: grid;
    grid-template-columns: auto 2.2rem;
    grid-gap: 10px;
    top: 0;
}

.sb-top-head {
  padding:5px 0px 5px 5px;
  font-size: 0.9rem;
  font-weight:200;
  text-align:center;
  color: #b73f2f;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

.sb-top-menu{

}

.sb-top-menu-popup {
    margin: 5px 5px 0px 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: white;
    text-align:center;
    width: 1.7rem;
    color: black;
    font-size:1.1rem;
    border-radius: 5px;
}


.sb-top-search-box {
    padding:0.2rem 0 0 0;
    width:10rem;
}

.sb-top-search {
    width:10rem;
    font-size:1.2rem;
}

.sb-top-text {
    color:white;
    background-color: black;
    font-size: 1.5rem;
    font-weight:bold;
}

.sb-day-link-box{
    padding: 20px 10px 5px 30px;
    line-height: 1.1rem;
    color: white;
}

.sb-day-link{
    font-weight:100;
    color: white;
}

.sb-day-link-weekend{
    font-weight:600;
    color: #BBBBBB;
}

.sb-day-actual{
   color:#b73f2f;
   font-size:1.0rem;
   font-weight:bold;
}

.sb-type-box {
    border-top: 1px solid #EEEEEE;
    margin-top: 10px;
}

.sb-type-h3 {
    margin-block-start: 0.0rem;
    margin-block-end: 0rem;
    margin-top: 10px;
}

.sb-body {
    font-family: "Open Sans", "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size:1rem;
    margin:0rem;
    padding:0rem;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

.sb-content {
    display: grid;
    grid-template-columns: auto minmax(300px, 750px) auto;
    grid-gap: 10px;
}

.sb-content-left {
}

.sb-content-main {
}

.sb-content-h1 {
    margin-block-end: 0rem;
    font-weight: 200;
    margin-top: 15px;
    font-size: 1.8rem;
}

.sb-content-subtitle {
    font-size: 0.8rem;
    color:#AAAAAA;
}

.sb-content-text {
    line-height:1.7rem;
    min-width: 400px;
    max-width: 800px;
    padding-top: 3rem;
    padding-left: 1rem;
}
.sb-content-ad {
    margin: 5px 10px 50px 20px;
}

.sb-container {
    width:150px;
    height:230px;
    margin-left:10px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

.sb-container-title {
    font-weight: 300;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size:0.9rem;
}

.sb-container-img {
    border-radius: 5px;
}

.sb-content-select {
    margin-top: 15px;
    margin-bottom: 10px;
}

.sb-content-select-self {
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    color: #BBBBBB;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}

.sb-teaser-type-h3 {
    margin-block-start: 0.0rem;
    margin-block-end: 2rem;
    margin-top: 10px;
}

.sb-teaser-part {
  margin-top: 12px;
  margin-bottom: 30px;
}

.sb-teaser-entry {
  display: grid;
  grid-gap: 0em;
  grid-template-columns: 150px  auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sb-teaser-type-startdate {
     margin-top:4px;
  }

.sb-teaser-type {
    white-space: nowrap;
    margin-top: 6px;
    font-weight: 400;
}

.sb-teaser-location {
    white-space: nowrap;
    margin-top: 6px;
    font-weight: 400;
}

.sb-teaser-startdate {
    margin-top: 8px;
     font-weight:200;
 }


.sb-event {
  display: grid;
  grid-gap: 0em;
  grid-template-columns: 70px  auto;
  margin-top: 12px;
}

.sb-event-startdate {
     font-weight:200;
 }

.sb-event-box {
     display: grid;
     grid-gap: 0.2rem;
     grid-template-columns: auto 80px;
     margin-top:4px;
     margin-left:20px;
  }

 .sb-event-location-link {
     white-space: nowrap;
     padding: 2px 5px 2px 5px;
     font-size: 0.8rem;
     font-weight: 600;
     border: 1px solid #DDDDDD;
     background-color: #EEEEEE;
     border-radius: 5px;

 }

  .sb-event-location {
      margin-left: 20px;
      white-space: nowrap;
      margin-top: 6px;
      font-size: 0.8rem;
      font-weight: 600;
  }

    .sb-event-type {
        margin-left: 20px;
        white-space: nowrap;
        margin-top: 6px;
        font-size: 0.8rem;
        font-weight: 600;
    }

 .sb-event-type-link {
     white-space: nowrap;
     padding: 2px 5px 2px 5px;
     font-size: 0.8rem;
     font-weight: 600;
     border: 1px solid #DDDDDD;
     background-color: #EEEEEE;
     border-radius: 5px;
 }

 .sb-event-location-button-url {
     width: 1.5rem;
     text-align: center;
     color: white;
     border:1px solid #CCCCCC;
     border-radius: 5px;
     white-space: nowrap;
     padding:2px;
     margin: 0px 1px 0px 1px;
     font-size:0.7rem;
     background-color:#DDDDDD;
 }

 .sb-event-location-button-map {
     width: 1.5rem;
     text-align: center;
     color: white;
     border:1px solid #CCCCCC;
     border-radius: 5px;
     white-space: nowrap;
     padding:2px;
     margin: 0px 1px 0px 1px;
     font-size:0.7rem;
     background-color:#DDDDDD;
 }

.sb-event-h4::after {
    content: ' ↗';
    color:#999999;
}

.sb-event-h4 {

    margin-block-start: 5px;
    margin-block-end: 0rem;
    font-weight:400;

}

.sb-event-links {
}

.sb-event-button-info {
    width: 1.5rem;
    text-align: center;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    padding:2px;
    margin: 2px 1px 0px 1px
    font-size:1.1rem;
    border:1px solid #AAAABB;
    background-color:#BBBBCC;
}

.sb-event-button-youtube {
    width: 1.5rem;
    text-align: center;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    padding:2px;
    font-size:1.1rem;
    margin: 2px 1px 0px 1px;
    border:1px solid #AAAABB;
    background-color:#BBBBCC;
}

.sb-event-button-ticket {
    width: 1.5rem;
    text-align: center;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    padding:2px;
    margin: 2px 1px 0px 1px
    font-size:1.2rem;
    border:1px solid #AAAABB;
    background-color:#BBBBCC;
}

.sb-anchor-type {
    white-space: nowrap;
     padding: 3px 6px 3px 6px;
     margin-bottom: 10px;
     margin-top: 10px;
     font-size: 1rem;
     font-weight: 600;
     border: 1px solid #DDDDDD;
     background-color: #EEEEEE;
     color: #BBBBBB;
     border-radius: 5px;
}

a:hover {
    font-weight: 400;
    color: #b73f2f;
}

a {
    text-decoration: none;
    color: #333333;
    font-weight: 200;
}

.sb-button {
    background-color: #EEEEEE;
    border: 0px;
    color: #CCCCCC;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    font-size: 0.9rem;
}

.sb-info{
    display: grid;
    grid-template-columns: auto 70px;
    grid-gap: 0px;
    font-size:0.9rem;
    text-align:center;
    border-bottom: 1px solid #CCCCCC;
    color:#AAAAAA;
}

.sb-info-recommend{
    padding-top:5px;
    font-size:1.1rem;
    color:#AAAAAA;
}

.sb-info-day {
    padding:5px 10px 5px 10px;
}

.sb-info-cite {
    padding:5px 10px 5px 10px;
}

.sb-info-teaser{
    font-size: 0.8rem;
    color:#AAAAAA;
    padding-right:30px;
    font-style: italic;
    text-align: right;
}

.sb-photo {
    padding: 10px 0px 0px 0px;
    font-size:0.9rem;
    text-style: italic;
}

.sb-photo-text {
    color:#AAAAAA;
    text-align:right;
    font-style: italic;
}

.sb-footer-box{
    display: grid;
    grid-template-columns: auto 70px;
    grid-gap: 0px;
    font-size:0.9rem;
    text-align:center;
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
}

.sb-footer {
    padding:10px 0px 10px 0px
}

.sb-footer-link {
    color:#AAAAAA;
}

.sb-generator {
    margin-top:50px;
    text-align:right;
    color:#c1d3f0
}

.sb-generator-link {
    color:#EEEEEE;
}

.sb-tool-tip {
    color:#EEEEEE;
}

.sb-cookie-box{
    background-color: #CCCCCC;
    inset: auto 15px 15px auto;
    width: 300px;
    padding: 10px 15px 10px 15px;
    height: auto;
    max-height: 597px;
    overflow: auto;
    position: fixed;
    box-sizing: border-box;
    display:none;
}

.cookie-content{
    color: #000000;
    font-family: inherit;
}
